{{#with event}}
<form action="/list-events/edit-event/{{_id}}" method="POST" name="edit-event">
    <label for="chooseLocation">select your location</label>

    <h1>Edit Event</h1>

    <select name="chooseLocation">
        {{#each location}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>

    <label for="eventName">Enter event name</label>
    <input type="text" name="name" value="{{name}}">
    <label for="date">Enter date in format DD.MM => no Zeros if possible</label>
    <input type="text" name="date" value="{{date}}">

    <label for="cost">Enter ticket price</label>
    <input type="number" name="cost" value="{{cost}}">

    <label for="openingHours">Enter opening hours in format HH:MM - HH:MM</label>
    <input type="text" name="openingHours" value="{{openingHours}}">

    <label for="ageOfEntrance">Select age of entrance</label>
    <select name="ageOfEntrance">
        <option value="Eighteen +">Eighteen +</option>
        <option value="Twenty One +">Twenty One +</option>
    </select>
    <button type="submit">Edit</button>
</form>
{{/with}}