<button id="goBack">
  <a href="/"> Back to Homepage</a>
</button>
<div>
  <button id="goBack">
    <a href="/profile"> Back to your profile</a>
  </button>
</div>




{{#each events}}
<div id="listEvents">
  <div id="generalInfo">
    <h3>{{name}}</h3>
    {{location.name}}
    <br>
    {{date}}
    <br>
    {{cost}}
    <br>
    {{ageOfEntrance}}
    <br>
    {{openingHours}}
    <br>
  </div>

  <div id="lineUp">
    <h3>Line Up</h3>

    <br>
    {{artists}}
    <br>
    {{artistsSpotify}}
  </div>

  <div id="listEventsButtons">
    <button><a href="/list-events/delete/{{_id}}">Delete Event</a></button>
    <button><a href="/list-events/edit-event/{{_id}}">Edit event</a></button>
  </div>
</div>
{{/each}}