<h1>All Events</h1>

{{#each events}}
<br>
<div>
    {{name}}
    <br>
    {{location.name}}
    <br>
    {{date}}
    <br>
    {{cost}}
    <br>
    {{ageOfEntrance}}
    <br>
    {{openingHours}}
</div>
<button><a href="/list-events/delete/{{_id}}">Delete Event</a></button>
<button><a href="/list-events/edit-event/{{_id}}">Edit event</a></button>
{{/each}}